<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="timestamp">
    Posted <%= local_time_ago(feed_item.created_at) %>.
  </span>
  <span class="content"><%= feed_item.content.truncate(80, separator: ' ') %></span>
  <span class="image">
    <%= image_tag feed_item.image.variant(resize: "100x100") if feed_item.image.attached? %>
  </span>
  <% if current_user?(feed_item.user) %>
    <br />
    <%= link_to 'delete', [:delete, feed_item], method: :delete,
                                                remote: true,
                                                data: { confirm: 'You sure?' },
                                                title: feed_item.content %>
  <% end %>
</li>
